.navigation{
    display: flex;
            width: 100%;
            justify-content: center;  
            
}
.contact{
    display: flex;
    width: 100%;
    float: left;   
}
h2{
    display: 50%;
    text-align: center;
    font-size: 30px;
}
video{   
    /* top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto; */
    width: 30%;
    height: 60%;
}
#phone{
    margin-right: 10px;
    width: 70px;
    height: 60px;
}
.call{
    margin-right: 40px;
    font-family: serif;
}

            /* main //booking */
.booking-date{
    display: flex;
            width: 100%;
            justify-content: center;
}
#start_date, #end_date, #mail-booking{
margin-right: 60px;
margin-bottom: 30px;}

#imput-que{
    width: 100%;
    height: 300px;
    text-align:left;
}


            /* main //article */
main>article{
    display: inline;
}
#img1, #img3{
    float: left;
    border: solid 5px rgb(69, 114, 196);    
    }
#img2{
    float: right;
    border: solid 5px orange;    
    }
article>img{
    width: 35%;
    height: 50%;
}
article>p{
    font-size: 100%;
    
}
.generally-article, .nerbly-area-article{
    float: left;
    border: solid 5px greenyellow;
          
}
.facilities-article{
    float: right;
    border: solid 5px red;
}
article{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

        /* footer */

.footer-conteiner{

            display: flex;
            width: 100%;
            justify-content: center;
                  
            }
            
.phone-footer, .mail-footer, .maps-footer{
                border: solid 5px red;
            }
            #img5, #img6, #img4{
                display: block;
                margin-left: auto;
                margin-right: auto;}




     
   

   